/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 16px "Helvetica Neue", georgia, helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #8C489F;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: "Courier New", monospace;
    font-size: 80%;
  }


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #8C489F;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #8C489F;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: #8C489F;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 3px solid #8C489F;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 1.5em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

      .site .footer .contact img {
	    float: left;
        margin-right: 1.5em;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      /* margin-right: -.2em; */
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

   .site .more_content {
	
   }
   
   .site .more_content .prev {
	font-size: 85%;
   }

   .site .more_content .next {
	font-size: 85%;
	float: right;
   } 


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post blockquote {
	font-size: 16px;
	padding: .25em 1em;
	margin: 0em 1em 0 1em;
    background-color: #ECD5F2;  /* #eef */
    color: #666;
 }

  #post blockquote cite{
    display: block;
    margin-top: .5em;
    text-align: right;
    font-style: normal;
}

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

  #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

  #related {
    margin-top: 2em;
  }

  #data {
	font-size: 75%;
  }

  #related h2 {
    margin-bottom: 1em;
  }

/*****************************************************************************/
/*
/* Archive
/*
/*****************************************************************************/

.archive_year {
  margin-top: 1.5em;
  color: #8C489F;
  font-weight: bold;
}

.archive_month {
  margin-top: 1.5em;
  margin-left: 1.5em;
  color: #aaa;
}

.archive_title { 
  margin-left: 2em;
  margin-top: 1.5em;
  font-size: 85%;
  list-style-type: none;
}

.archive_title li { 
  margin-top: 1.5em;
  list-style-type: none;
}


.archive_day {
  margin-right: 1em;
  font-size: 85%;	
}